{{> restaurant-tabs route='topRestaurants'}}
<h1>TOP 10 人氣餐廳</h1>
<hr />
<div class=" mt-3 d-flex flex-column align-items-center style="background-color:red;">
    {{#each restaurants}}
    <div class="col-md-4 " >
        <div class="card mb-4 shadow-sm ">
            <div class="card-body d-flex">
                <a href="/restaurants/{{this.id}}">
                    <img class="" src="{{this.image}}"  width="150px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
                </a>
                <div class="ms-3">
                <p class="card-text">
                    <a href="/restaurants/{{this.id}}">
                        {{this.name}}
                    </a>
                </p>
                 <span class="bg-secondary badge mb-3">收藏數：{{this.favoritedCount}}</span>
                <p class="card-text ">{{this.description}}</p>
                <div class="d-flex">
                    <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">show</a>
                    {{#if isFavorited}}
                    <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger m-1">移除最愛</button>
                    </form>
                    {{else}}
                    <form action="/favorite/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-primary m-1">加到最愛</button>
                    </form>
                    {{/if}}
                </div>
            </div>
                </div>

        </div>
    </div>
    {{/each}}